*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
h1,p{font-family: Georgia, 'Times New Roman', Times, serif;}
body{
    min-height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(image/image1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
 @media only screen and (max-width:600px){
    body{min-width: 100%;}
} 

.form-box{
    width: 380px;
    height: 500px;
    position: relative;
    margin:auto;
    bottom: 10px;
    background: #ffffff;
    overflow: hidden;
    font-family: sans-serif;
    padding: 2px 4px;
}
.button-box{
    width: 220px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 20px;
    box-sizing: border-box;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}
.social-icon{
    margin: 30px auto;
    text-align: center;
}

.social-icon img{
    width: 30px;
    margin: 0 10px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
    top: 130px;
    position: absolute;
    width: 280px;
    transition: .5s;
    bottom: auto;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 65%;
    padding: 10px 50px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 20px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
.nav-bar{
    background:#f1f1f1;
    text-align: center;
    width: 100%;
    overflow: hidden;
    display: block;
}
.nav-bar ul{
    display: inline-flex;
    list-style: none;
    color: #000;
    float: center;
}
.nav-bar ul li{
    width: 150px;
    margin: 7px;
    padding:7px;
}
.nav-bar ul a{
    text-decoration: none;
    color: #444;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}
.nav-bar ul a:hover{
    background-color:rgb(197, 194, 194);
    border-radius: 3px;
    border-width: 100px;
}
.logo{
    margin-left: 33%;
}
div p{
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.footer {
    position: relative;
    bottom: 0;
    max-width: 100%;
    padding: 32px 16px;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
 }
.footer p{
    margin-bottom: 20px;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
}
 .top{
     text-align: center;
     text-decoration: none;
     padding: 7px 7px;
     margin: auto;
     line-height: 3rem;
     background-color: black;
     color: whitesmoke;
     border-radius: 2px;
 }
 .section{
    margin: 20px auto;
    text-align: center;
 }
 .section .fa{
     font-size: 25px;
     text-rendering: auto;
     -webkit-font-smoothing: antialiased;
 }
  .section .fa:hover{
      color: rgba(0,0,0,0.3);
      cursor: pointer;
  }
  .top:hover{
    color: rgba(0,0,0,0.2);
    width: 14px;
    cursor: pointer; 
  }
  .submit-btn a{
      text-decoration: none;
  }
  .form-grp .fa{
      position: absolute;
      top: 30%;
      right: 6%;
      display: none;
 }
 .form-grp{
     padding: 8px;
     position: relative;
 }
 .fa-times{
     color: red;
 }
 .fa-check{
     color: green;
 }
 .errort{
     color: red;
     top:1px;
     position: relative;
 }
 .errorR{
     bottom: 30%;
     position: relative;
     color: red;
 }
 #eye1{
     bottom: 30px;
     left: 90%;
     position: relative;
     cursor: pointer;
     color: #7a797e;
     font-size: 15px;
 }
 #eye2{
    bottom: 30px;
    left: 90%;
    position: relative; 
    cursor:pointer;
    color: #7a797e;
    font-size: 15px;
 }
 #ct1{
     bottom: 50px;
 }
 